<footer class="footer">
  <div class="footer-menu-container">
    <ul class="footer-menus">
      <a href="#">
        <li class="footer-menus__menu">Privacy Policy</li>
      </a>
      <a href="#">
        <li class="footer-menus__menu">Terms of Use</li>
      </a>
      <a href="#">
        <li class="footer-menus__menu">About</li>
      </a>
    </ul>
  </div>
  <div class="copyright">
    Copyright 2019 - Tonkatsu Production
  <div>
</footer>
