<header class="header">
  <div class="header-left">
    <a href="/">
      <span class="header-left__logo">
        chattify
      </span>
    </a>
  </div>
  <div class="header-right">
    <ul class="share-btns">
      <a href="https://twiter.com/share?url=https://dvd.life    uptokyo.com" rel="nofollow" target="_blank">
        <li class="share-btns__btn">
          <i class="fab fa-twitter"></i>
        </li>
      </a>
      <a href="http://www.facebook.com/share.php?u={https://    dvd.lifeuptokyo.com}" rel="nofollow" target="_blank">
        <li class="share-btns__btn">
          <i class="fab fa-facebook-f"></i>
        </li>
      </a>
      <a href="#">
        <li class="share-btns__btn">
          <i class="fab fa-line"></i>
        </li>
      </a>
  </ul>
  </div>
</header>
