<div class="main">
  <div class="main-top">
    <h2 class="main-top__catch-copy">
      Get Connected - Very Simply!
     </h2>
    <p class="main-top__desc">-- chat app for new generations --</p>
    <ul class="feature-list">
      <li class="feature-list__feature">Easy To Start</li>
      <li class="feature-list__feature">No User Registration    </li>   
      <li class="feature-list__feature">Exprires In A Day</l    i>    
    </ul>
  </div>
  <div class="main-bottom">
    <div class="form-container">
      <form id="group-new" class="group-new" action="#" meth    od="post">
        <div class="group-new__label">Group Name</div>
        <input class="group-new__input-box" type="text" name    ="group-name" placeholder="Please input group-name">
        <div class="group-new__label">Keywords</div>
        <input class="group-new__input-box" type="text" name    ="keywords" placeholder="Please input keywords(optional)">
        <div id="group-new_btn" class="group-new__btn">
          Create Chattify
        </div>
      </form>
  </div>
  </div>
</div>
