@import "./config/_variables";
@import "./mixin/_mixins";
@import "./modules/_common";
@import "./modules/_header";
@import "./modules/_index-main";


.footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;

}
.footer-menu-container {
  margin: 0 auto;
  width: 50%;
  height: 70%;
  line-height: 63px;
}
.footer-menus {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 11px;
  letter-spacing: 1px;
}
.footer-menus a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.footer-menus a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-menus__menu {
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
  text-spacing: 1px;
}


/* Tablet */
@media screen and (max-width: 767px) {


}

/* Mobile */
@media screen and (max-width: 479px) {
  

}
