* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-45deg, rgba(246, 255, 0, 0.4), rgba(255, 0, 161, 0.4));
}

.header-left {
  padding: 0 20px;
}

.header-left a {
  text-decoration: none;
  color: #000;
}

.header-left__logo {
  font-family: 'Monoton', cursive;
  font-size: 32px;
  color: #000;
  letter-spacing: 1px;
}

.header-right {
  padding: 0 20px;
  width: 30%;
}

.header-right .share-btns {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-right .share-btns a {
  text-decoration: none;
  color: #000;
}

.header-right .share-btns__btn {
  font-size: 24px;
}

.header-right .share-btns__btn:hover {
  color: #333;
}

.chats-main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url("../images/bg-fes.jpg");
  background-repeat: none;
  background-size: cover;
  padding-top: 90px;
  text-align: center;
  display: flex;
}

.sidebar-container {
  background-color: blue;
  width: 300px;
  height: 100%;
}

.sidebar-container .sidebar-contents {
  margin: 0 auto;
  width: 400px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.message-container {
  background-color: red;
}

.message-container .message-contents {
  margin: 0 auto;
  width: 400px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.main-top {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  margin-bottom: 60px;
  color: rgba(32, 32, 32, 0.8);
}

.main-top__catch-copy {
  font-family: 'Shrikhand', cursive;
  margin-bottom: 20px;
  font-size: 40px;
}

.main-top__catch-copy--catchy {
  font-family: 'Shrikhand', cursive;
  color: red;
  font-size: 20px;
}

.main-top__desc {
  font-size: 16px;
}

.feature-list {
  margin: 0 auto;
  margin-top: 15px;
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.feature-list__feature {
  padding: 10px 0;
  color: #000;
}

.chat-contents {
  margin: 0 auto;
  width: 400px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.form-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.group-new {
  width: 100%;
}

.group-new__label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 5px;
}

.group-new__input-box {
  width: 100%;
  height: 45px;
  padding: 0 5px;
  margin-bottom: 20px;
}

.group-new__btn {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: linear-gradient(-45deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8));
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}

.group-new__btn:hover {
  background: linear-gradient(-45deg, #f6ff00, #ff00a1);
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;
}

.footer-menu-container {
  margin: 0 auto;
  width: 50%;
  height: 70%;
  line-height: 63px;
}

.footer-menu-container .footer-menus {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 11px;
  letter-spacing: 1px;
}

.footer-menu-container .footer-menus a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-menu-container .footer-menus a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
  text-spacing: 1px;
}

/* for responsive design */
/* Tablet */
/* Mobile */
