<div class="chats-main">

  <div class="sidebar-container">
    <div class="sidebar-contents">
      <div class="sidebar-contents__group-overview">
        Group Overview
      </div>
      <div class="sidebar-contents__share">
        Share This Group
      </div>
      <div class="sidebar-contents__mode">
        Translation Config
      </div>
    </div>
  </div>

  <div class="message-container">
    <div class="message-contents">
      <div class="messages">
        <div class="messages__message">
          <div class="message-content__user">
            <div class="message-content__user--avatar">
              <i class="fas fa-user"></i>
            </div>
            <div class="message-content__user--nickname">
              tonkatsu
            </div>
          </div>
          <div class="message-content__content">
            <div class="message-content__content--content">
              ダミーの投稿です
            </div>
          </div>
        </div>
        <div class="messages__message">
          <div class="message-content__user">
            <div class="message-content__user--avatar">
              <i class="fas fa-user"></i>
            </div>
            <div class="message-content__user--nickname">
              tonkatsu
            </div>
          </div>
          <div class="message-content__content">
            <div class="message-content__content--content">
              ダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿です
            </div>
          </div>
        </div>
      </div>
     <div class="post-form">
        <input id="new-message" class="post-form__new-message" type="text" placeholder="Please input message">
      </div>
    </div>
  </div>

</div>
