<div class="chats-main">

  <div class="sidebar-container">
    <div class="sidebar-contents">
      <div class="sidebar-contents__group-overview">
        Group Overview
      </div>
      <div class="sidebar-contents__share">
        Share This Group
      </div>
      <div class="sidebar-contents__mode">
        Translation Config
      </div>
    </div>
  </div>

  <div class="message-container">
    <div class="message-contents">
      <div class="messages">
        <div class="messages__message">
          ダミーの投稿です
        </div>
      </div>
      <div class="post-form">
        <input id="new-message" class="post-form__new-message" type="text" placeholder="Please input message">
      </div>
    </div>
  </div>

</div>
