<div class="chats-main">

  <div class="sidebar-container">
    <div class="sidebar-contents">

    </div>
  </div>

  <div class="messsage-container">
    <div class="message-contents">
    
    </div>
  </div>

</div>
