<div class="chats-main">

  <div class="sidebar-container">
    <div class="sidebar-contents">
      
      <div class="sidebar-contents__group-overview">
        Group Overview
      </div>

      <div class="sidebar-contents__share">
        <div class="link-share-header">
          <h2>Share This Group<h2>
        </div>
        <div class="link-share-buttons">
          <div class="link-share-buttons__button">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="link-share-buttons__button">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="link-share-buttons__button">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="link-share-buttons__button">
            <i class="fas fa-qrcode"></i>
          </div>
        </div>
      </div>

      <div class="sidebar-contents__mode">
        <div class="config-header">
          <h2>Config</h2>
        </div>
        <div class="config-contents">
          <div class="config-contents__toggle-button">
            Translation On
          </div>
          <div class="config-contents__lang-selector">
            <select name="lang-selector">
              <option value="ja">Japanese</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="message-container">
    <div class="message-contents">
      <div class="messages">
        <div class="messages__message">
          <div class="message-content__user">
            <div class="message-content__user--avatar">
              <i class="fas fa-user"></i>
            </div>
            <div class="message-content__user--nickname">
              tonkatsu
            </div>
          </div>
          <div class="message-content__content">
            <div class="message-content__content--content">
              ダミーの投稿です
            </div>
          </div>
        </div>
        <div class="messages__message">
          <div class="message-content__user">
            <div class="message-content__user--avatar">
              <i class="fas fa-user"></i>
            </div>
            <div class="message-content__user--nickname">
              tonkatsu
            </div>
          </div>
          <div class="message-content__content">
            <div class="message-content__content--content">
              ダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿ですダミーの投稿です
            </div>
          </div>
        </div>
      </div>
     <div class="post-form">
        <input id="new-message" class="post-form__new-message" type="text" placeholder="Please input message">
      </div>
    </div>
  </div>

</div>
